.Form {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.Title{
    display: flex;
    justify-content:space-between;
    padding: 15px;
}

.Title button{
  align-self: center;
}

.Form input[type="submit"] {
  width: 100%;
}