:root {
  --bg-color: #ffffff;
  --text-color: #0d0d0d;
  --primary-color: #0077ff;
  --app-bg: #f1f1f1;       /* App container background */
  --app-text: #1b1b1b;
  --card-bg: #ffffff;
  --input-bg: #f8f8f8;
  --border-color: #ccc;
}

body.dark-mode {
  --bg-color: #121212;        
  --text-color: #f0e9e9;      
  --primary-color: #3399ff;

   --app-bg: #222222;       
  --app-text: #d1d1d1;

  --card-bg: #1e1e1e;         
  --input-bg: #868686;        
  --border-color: #555;       
}

* {
  box-sizing: border-box;
}

body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: var(--text-color);
  background: var(--bg-color);
  width: 100%;
  max-width: 640px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0 24px;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: background-color 0.3s, color 0.3s;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

input[aria-invalid="true"],textarea[aria-invalid="true"],select[aria-invalid="true"]{
  border-color:salmon;
  outline-color: salmon;
}

input, textarea, select {
  background-color: var(--input-bg);
  color: var(--text-color);
  border: 1px solid var(--border-color);
}